:root {
    --header-transition: var(--out);
}

#app-header {
    position: fixed;
    width: 100%;
    z-index: var(--header-layer);
    top: 0;
}

#app-header {
    --shift-out: translateY(calc(var(--APP_HEADER_HEIGHT) * -1));
    --shift-in: unset;

    transition: transform var(--header-transition);

    .HasReached--Step1 & {
        transform: var(--shift-out);
    }

    .Scrolling--Up.HasReached--Step1 & {
        transform: var(--shift-in);
    }

    .HasReached--Footer & {
        transform: var(--shift-in);
    }
}
