:root {
    --header-transition: var(--out);
}

#app-header {
    position: sticky;
    z-index: var(--header-layer);
    top: 0;

    &::after {
        content: "";
        position: absolute;
        height: 75%;
        width: 100%;
        /*background-color: red;*/
    }
}

#app-header {
    --shift-out: translateY(calc(var(--APP_HEADER_HEIGHT) * -1));
    --shift-in: unset;

    transition: transform var(--header-transition);

    .HasReached--Step1 & {
        transform: var(--shift-out);
    }

    /*.Scrolling--Up.HasReached--Step1 & {
        transform: var(--shift-in);
    }*/

    /*.HasReached--Footer & {
        transform: var(--shift-in);
    }*/

    &:hover {
        transform: var(--shift-in);
    }
}
