:root {
    --header-transition: var(--out);
}

#app-header {
    position: fixed;
    z-index: var(--header-layer);
    top: 0;

    inset-inline: 0;
    max-width: calc(var(--contained) - 2px);
    margin-inline: auto;
    padding-inline: var(--padders);

    backdrop-filter: blur(0.5rem) saturate(200%);
    border-radius: 0 0 0.75rem 0.75rem;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 50%;
        width: 100%;
        /*background-color: red;*/
    }
}

#app-header {
    --shift-out: translateY(calc(var(--APP_HEADER_HEIGHT) * -1));
    --shift-in: unset;
    --bg-in: color-mix(in oklab, var(--color-iron-950) 60%, transparent);

    transition:
        transform var(--header-transition),
        background-color var(--header-transition);

    .HasReached--Step1 & {
        transform: var(--shift-out);
    }

    .Scrolling--Up.HasReached--Step1 &,
    .HasReached--Step1 &:hover {
        transform: var(--shift-in);
        background-color: var(--bg-in);
    }
}
