@page {
    size: A4 portrait;
    margin: 0;
}

@media print {
    body {
        height: auto !important;
        color: var(--color-iron-800) !important;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    /* Safari */
    body,
    .ResumeGrid {
        background-color: transparent;
    }

    #app-header,
    #app-footer,
    #app-filter,
    #app-noise,
    .mf-cursor,
    #app-loader,
    .ProgressButton {
        display: none !important;
    }
}
