@page {
    size: A4 portrait;
    margin: 0 !important;
}

@media print {
    body {
        height: auto !important;
        color: black !important;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    #app-header,
    #app-footer,
    #app-filter,
    #app-noise,
    .mf-cursor,
    #app-loader,
    canvas,
    #tweakpane-container,
    .ScrollProgressButton {
        display: none !important;
    }
}
