.Sticky--Top {
    top: 0;
    transition: top var(--header-transition);

    .Scrolling--Up.HasReached--Step1 & {
        top: var(--APP_HEADER_HEIGHT);
    }
}

.Sticky--Gappers {
    top: var(--gappers);
    transition: top var(--header-transition);

    .Scrolling--Up.HasReached--Step1 & {
        top: calc(var(--gappers) + var(--APP_HEADER_HEIGHT));
    }
}

.Sticky--AboveCenter {
    top: calc(50vh - var(--height) - (var(--gappers) / 2));
}

.Sticky--Center {
    top: calc(50vh - (var(--height) / 2));
}

.Sticky--BelowCenter {
    top: calc(50vh + (var(--gappers) / 2));
}

.Sticky--Bottom {
    top: calc(100vh - var(--height) - (var(--gappers) / 2));
}
