.sticky--top {
    top: var(--gappers);
    transition: top var(--header-transition);

    .Scrolling--Up.HasReached--Step1 & {
        top: calc(var(--gappers) + var(--APP_HEADER_HEIGHT));
    }
}

.sticky--above-center {
    top: calc(50vh - var(--height) - (var(--gappers) / 2));
}

.sticky--center {
    top: calc(50vh - (var(--height) / 2));
}

.sticky--below-center {
    top: calc(50vh + (var(--gappers) / 2));
}

.sticky--bottom {
    top: calc(100vh - var(--height) - (var(--gappers) / 2));
}
