.strike-around {
    display: flex;
    align-items: center;
    gap: var(--gap, 0.25em);

    &::before,
    &::after {
        --border-color: var(--color-iron-850);

        content: "";
        flex: 1;
        height: 1px;
    }

    &::before {
        background: linear-gradient(
            to right,
            transparent,
            var(--border-color) 15%,
            var(--border-color) 85%,
            transparent
        );
    }

    &::after {
        background: linear-gradient(
            to left,
            transparent,
            var(--border-color) 15%,
            var(--border-color) 85%,
            transparent
        );
    }

    &.strike-around--left::after {
        display: none;
    }

    &.strike-around--right::before {
        display: none;
    }
}
