@utility swipe-link {
    position: relative;
    white-space: nowrap; /* EXPERIMENTAL */

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;

        background-color: color-mix(currentColor, transparent);

        transform: scaleX(0%);
        transform-origin: right;

        transition: transform var(--out--fast);
    }

    &:hover::before {
        transform: scaleX(100%);
        transform-origin: left;
    }
}
