:root {
    interpolate-size: allow-keywords;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

body::-webkit-scrollbar {
    width: 0;
}

body {
    text-wrap-style: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    &:not(:last-child) {
        @apply mb-[.5em];
    }
}

p a {
    /* opacity: 80%; */
    /* color: color-mix(in oklab, currentColor 80%, transparent); */
    font-weight: bolder;
    /* font-style: italic; */
}

mark {
    background-color: transparent;
    color: currentColor;
}

[data-aos-trigger]::after {
    content: attr(data-aos-trigger);
}
