@utility yoyo-link {
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;

        background-color: color-mix(currentColor, transparent);

        transition: transform var(--out--fast);
    }

    &::before {
        transition-delay: 180ms;
        transform: scaleX(100%);
        transform-origin: left;
    }

    &::after {
        transition-delay: 0ms;
        transform: scaleX(0%);
        transform-origin: right;
    }

    &:hover {
        &::before {
            transition-delay: 0ms;
            transform: scaleX(0%);
            transform-origin: right;
        }

        &::after {
            transition-delay: 180ms;
            transform: scaleX(100%);
            transform-origin: left;
        }
    }
}
