@import "./tailwind/tailwind.css";

@layer base {
    @import "./definitions/base.css";
    @import "./definitions/fonts.css";
}

@layer components {
    @import "./components/app-header.css";
    @import "./components/mouse-follower.css";
    @import "./components/sticky-item.css";
    @import "./components/links/bg-link.css";
    @import "./components/links/swipe-link.css";
    @import "./components/links/yoyo-link.css";
    @import "./components/strike-around.css";
}
#three-canvas {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    /* mix-blend-mode: screen; */
    /* mix-blend-mode: overlay; */
    /* mix-blend-mode: soft-light; */
    mix-blend-mode: luminosity;

    /* border: 2px dotted red; */
}

/* #app-main {
    backdrop-filter: url(#liquid-aberration) blur(6px) brightness(70%);
} */
