@import "./tailwind/tailwind.css";

@layer base {
    @import "./definitions/base.css";
    @import "./definitions/fonts.css";
}

@layer components {
    @import "./components/app-header.css";
    @import "./components/mouse-follower.css";
    @import "./components/sticky-item.css";
    @import "./components/links/bg-link.css";
    @import "./components/links/swipe-link.css";
    @import "./components/links/yoyo-link.css";
    @import "./components/strike-around.css";
canvas {
    position: fixed;
    inset: 0;
    pointer-events: none;
    mix-blend-mode: screen;

    border: 2px dotted red;
}
