@theme {
    /* #region Cleaning */
    /* --ease-*: initial; */
    /* --default-transition-*: initial; */
    /* --default-font-feature-*: initial; */
    /* --default-font-variation-*: initial; */
    /* --default-mono-*: initial; */
    /* #endregion */

    /* #region Typography */
    --font-sans: "PP Neue Montreal";
    --font-serif: "PP Gatwick Glider";
    --font-display: "PP Monument Extended";
    /* #endregion */

    /* #region Colors */
    /* https://tailwindcss.com/docs/colors#using-a-custom-palette */
    /* --color-*: initial; */

    --color-iron-50: oklch(97% 0.008 70);
    --color-iron-100: oklch(95% 0.007 70);
    --color-iron-200: oklch(91% 0.007 70);
    --color-iron-300: oklch(87% 0.006 70);
    --color-iron-400: oklch(82% 0.006 70);
    --color-iron: oklch(70% 0.005 70);
    --color-iron-600: oklch(58% 0.005 70);
    --color-iron-700: oklch(45% 0.004 70);
    --color-iron-800: oklch(32% 0.003 70);
    --color-iron-850: oklch(27% 0.0025 70);
    --color-iron-900: oklch(22% 0.002 70);
    --color-iron-950: oklch(13% 0.001 70);

    --color-jade-50: oklch(96% 0.05 150);
    --color-jade-100: oklch(93% 0.08 150);
    --color-jade-200: oklch(88% 0.14 150);
    --color-jade-300: oklch(83% 0.2 150);
    --color-jade-400: oklch(80% 0.25 150);
    --color-jade: oklch(87.2% 0.2518 148.1);
    --color-jade-600: oklch(62% 0.2 150);
    --color-jade-700: oklch(50% 0.16 150);
    --color-jade-800: oklch(40% 0.12 150);
    --color-jade-900: oklch(30% 0.08 150);
    --color-jade-950: oklch(20% 0.05 150);
    /* #endregion */

    /* #region Layout */
    --gappers: calc(var(--spacing) * 10);
    /* #endregion */

    /* #region Easings */
    /* https://easings.co?demo=0&duration=600&offset=0&curve=0.215,0.61,0.355,1 */
    --ease-out: cubic-bezier(0.22, 0.61, 0.36, 1);
    /* https://easings.co?demo=3&duration=600&offset=0&curve=0.77,0,0.175,1 */
    --ease-in-out: cubic-bezier(0.77, 0, 0.18, 1);

    --fast: 400ms;
    --regular: 600ms;
    --slow: 800ms;
    --super-slow: 1200ms;
    --giga-slow: 1600ms;

    --out--fast: var(--fast) var(--ease-out);
    --out: var(--regular) var(--ease-out);
    --out--slow: var(--slow) var(--ease-out);
    --out--super-slow: var(--super-slow) var(--ease-out);
    --out--giga-slow: var(--giga-slow) var(--ease-out);

    --in-out--fast: var(--fast) var(--ease-in-out);
    --in-out: var(--regular) var(--ease-in-out);
    --in-out--slow: var(--slow) var(--ease-in-out);
    --in-out--super-slow: var(--super-slow) var(--ease-in-out);
    --in-out--giga-slow: var(--giga-slow) var(--ease-in-out);
    /* #endregion */

    /* #region Layers */
    --loader-layer: 100;
    --cursor-layer: 90;
    --noise-layer: 80;
    --filter-layer: 70;
    --header-layer: 10;
    /* #endregion */
}
