@theme {
    /* #region Cleaning */
    /* --ease-*: initial; */
    /* --default-transition-*: initial; */
    /* --default-font-feature-*: initial; */
    /* --default-font-variation-*: initial; */
    /* --default-mono-*: initial; */
    /* #endregion */

    /* #region Typography */
    --font-sans: "PP Neue Montreal";
    --font-serif: "PP Gatwick Glider";
    --font-iskry: "Iskry";
    --font-monument: "PP Monument Extended";
    --font-death: "Death Mohawk";

    --text-xl: 1.125rem;
    --text-4xl: 2.5rem;
    --text-6xl: 3.5rem;
    /* #endregion */

    /* #region Colors */
    /* https://tailwindcss.com/docs/colors#using-a-custom-palette */
    /* --color-*: initial; */

    --color-void: oklch(13% 0 0);
    --color-void-200: oklch(21% 0 0);
    --color-void-400: oklch(15% 0 0);

    --color-stone: oklch(70% 0 0);
    --color-stone-300: oklch(80% 0 0);

    --color-alabaster: oklch(97% 0 0);
    --color-nude: oklch(98.6% 0.008 56.1);
    --color-sand: oklch(84.8% 0.041 75.7);
    --color-biohazard: oklch(89.9% 0.197 127.5);
    /* #endregion */

    /* #region Layout */
    --gappers: calc(var(--spacing) * 10);
    --breakpoint-3xl: 160rem;
    /* #endregion */

    /* #region Easings */
    /* https://easings.co?demo=0&duration=600&offset=0&curve=0.215,0.61,0.355,1 */
    --ease-out: cubic-bezier(0.22, 0.61, 0.36, 1);
    /* https://easings.co?demo=3&duration=600&offset=0&curve=0.77,0,0.175,1 */
    --ease-in-out: cubic-bezier(0.77, 0, 0.18, 1);

    --fast: 400ms;
    --regular: 600ms;
    --slow: 800ms;
    --super-slow: 1200ms;
    --giga-slow: 1600ms;

    --out--fast: var(--fast) var(--ease-out);
    --out: var(--regular) var(--ease-out);
    --out--slow: var(--slow) var(--ease-out);
    --out--super-slow: var(--super-slow) var(--ease-out);
    --out--giga-slow: var(--giga-slow) var(--ease-out);

    --in-out--fast: var(--fast) var(--ease-in-out);
    --in-out: var(--regular) var(--ease-in-out);
    --in-out--slow: var(--slow) var(--ease-in-out);
    --in-out--super-slow: var(--super-slow) var(--ease-in-out);
    --in-out--giga-slow: var(--giga-slow) var(--ease-in-out);
    /* #endregion */

    /* #region Layers */
    --loader-layer: 100;
    --cursor-layer: 90;
    --noise-layer: 80;
    --filter-layer: 70;
    --header-layer: 10;
    /* #endregion */
}
